#header {
    margin:5px 5px 5px 5px;
    padding-left:10px;
    background-color:rgb(214, 254, 197);
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    color:#7a7d69;
    
}
#autentificare
{
    text-align: right;
}
#titlu {
   
    text-align: center;
}

#header h5{
	margin:0;
	padding:10px;
	/*background-color:pink;*/
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	color:#7a7d69;
 }
#meniu,
 #continut
{
	float:left;
    height: 100vh;
    padding: 10px;
 }
 #continut
 {padding: 10px;
	border-left:1px solid rgb(6, 6, 163);
    border:2px #3498db solid;
    background-color: rgb(233, 237, 255);
    
 }
 body
 {
     background-color: rgb(232, 182, 181);
 }
 
 #meniu{
	width:15%;
    background-color: aliceblue;
 }
 #continut{
	width:84.7%;
 }
 .button {
    background-color: #4CAF50; /* Green */
    border:100px;
    width: 200px;
    color: white;
    padding: 15px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  .btn {
    cursor: pointer;
    
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: #3498db;
    font-size: 1.5em;
    
}