#card{
    text-align: center;
    background-color: #7a7d69;  
    /*border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;*/
    padding: 5px;
}
#continut{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:  transparent;
    color:black;
    background-color: rgb(221, 215, 215);
}
#titlu{
    font-weight: bold ;
}